* {
    font-family: sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu {
    /* border: 1px solid; */
    width: 65px;
    height: 100vh;
    position: fixed;
    /* z-index: 100; */
    border-right: 1px solid rgb(77, 77, 77);
}

#menu>div {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin-top: 12px;
}

#menu>div:not(:first-child) {
    margin-top: 24px;
}

#menu>div>span:nth-child(2) {
    font-size: 10px;
}

#navbar {
    /* border: 1px solid; */
    border-bottom: 1px solid gray;
    margin-top: 5px;
    /* width: 94.9%; */
    /* margin-left: 65px; */
    display: grid;
    grid-template-columns: 5% 20% 50% 25%;
    grid-template-rows: 55px;
    /* column-gap: 3.3%; */
    justify-content: space-between;
    z-index: 100;
    position: sticky;
    width: 100%;
}

#navbar>div {
    /* border: 1px solid; */
    height: 100%;
}
#navbar>div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo>img {
    /* border: 1px solid; */
    height: 100%;
    width: 125px;
}

#search_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* input box */
#search {
    height: 80%;
    width: 80%;
    font-size: 18px;
    border: none;
    /* border: 1px solid; */
    padding-left: 10px;
    background-color: #121212;
}

#search:focus {
    outline: none;
}

#search_logo {
    /* border: 1px solid; */
    padding: 9px 20px;
    margin-right: 8px;
    background-color: #313131;
}

#extras {
    /* border: 1px solid; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#profile {
    /* border: 1px solid; */
    padding: 8px;
    border-radius: 100%;
    background-color: rgb(127, 20, 20);
    cursor: pointer;
}

.material-symbols-outlined {
    cursor: pointer;
}

#display {
    border: 1px solid;
    width: 94.9%;
    margin-left: 65px;
    height: 50vh;
    padding: 10px;
}